<div class="dialog">
  <div class="dialog-heading">
    <h3>Create new board</h3>
  </div>
  <div class="dialog-form">
    <form [formGroup]="createBoardForm" (submit)="createNewBoard()">
      <p>Add board title</p>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>

      <p>Select shared users</p>
      <div formArrayName="sharedUsers" *ngFor="let user of sharedUsers.controls; let i = index">
        <div [formGroupName]="i">

          <mat-form-field>
            <mat-label>Share with..
              <mat-select formControlName="login">
                <mat-option *ngFor="let user of allUsers" [value]="user.login">{{user.login}}</mat-option>
              </mat-select>
            </mat-label>
          </mat-form-field>
        </div>

      </div>
    </form>
  </div>
  <div class="dialog-buttons">
    <button mat-raised-button (click)="addUser()">Add user</button>
    <button mat-raised-button type="submit" (click)="createNewBoard()">Submit</button>
  </div>
</div>

