<form [formGroup]="createBoardForm" (submit)="createNewBoard()">
  <label>Title</label>
  <input formControlName="title">

  <div formArrayName="sharedUsers" *ngFor="let user of sharedUsers.controls; let i = index">
    <div [formGroupName]="i">

      <label>
        <select formControlName="login">
          <option *ngFor="let user of allUsers" [value]="user.login">{{user.login}}</option>
        </select>
      </label>

    </div>

  </div>
  <a (click)="addUser()">Add</a>
  <button type="submit">Submit</button>
</form>
