.boards-page__all-boards {
  max-width: 100vw;
  display: flex;
  justify-content: start;
  overflow: scroll;
}

.boards-page__create-board {
  min-width: 300px;
  max-width: 300px;
  height: 40vh;
  border: 1px solid #93A1E3;
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  margin: 10px;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  transition: all 0.3s ease-in-out;
}

.boards-page__create-board:hover {
  transform: scale(1.01, 1.01);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.create-board__icon {
  color: #8FB1E7;
  width: 90%;
  height: 90%;
  font-size: 50px;
  text-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boards-page__heading {
  margin-left: 2vw;
  text-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
