.form-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.login-form {
  min-width: 40vw;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  background-color: #FFF;
  border: 1px solid #8FB1E7;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.alert-danger {
  color: #F44335;
  margin-bottom: 0.5rem;
}

.form-button {
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

