<div class="user-page-wrapper">
  <h2>User profile page</h2>
  <div class="user-page__info">
    <div class="user-info__image">
      <img src="assets/images/user-profile.jpg" alt="user profile image">
    </div>
    <div class="user-info__profile">
      <p>Name: {{currentUser$.getValue().name}}</p>
      <p>Login: {{currentUser$.getValue().login}}</p>
    </div>
  </div>
  <div class="user-page__buttons">
    <button mat-raised-button (click)="editUser()">Edit profile</button>
    <button mat-raised-button (click)="showConfirmationDialog()">Delete user</button>
  </div>




</div>



