.task {
  border: 1px solid grey;
  max-width: 188px;
  min-width: 185px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #deebdd;
  background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.task:hover {
  transform: scale(1.01);
}

.task-title p {
  font-weight: bold;
}

.task-description p {
  font-size: 14px;
  font-style: italic;
  margin: 3px;
}

.task-delete {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 15px 10px 0;
}
