<div class="dialog">
  <div class="dialog-heading">
    <h4>Edit task "{{task.title}}"</h4>
  </div>
  <div class="dialog-form">
    <form [formGroup]="editTaskForm" (submit)="editTask()">

      <h3>Enter new title</h3>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>

      <h3>Enter new description</h3>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" (keydown.enter)="editTask()"></textarea>
      </mat-form-field>

    </form>
  </div>
  <div class="dialog-buttons">
    <button mat-raised-button type="submit" (click)="editTask()">Submit</button>
  </div>
</div>



