<div class="dialog">
  <div class="dialog-heading">
    <h3>Edit task "{{task.title}}"</h3>
  </div>
  <div class="dialog-form">
    <form [formGroup]="editTaskForm" (submit)="editTask()">

      <p>Enter new title</p>
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>

      <p>Enter new description</p>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" (keydown.enter)="editTask()"></textarea>
      </mat-form-field>

    </form>
  </div>
  <div class="dialog-buttons">
    <button mat-raised-button type="submit" (click)="editTask()">Submit</button>
  </div>
</div>



