.boards-page__board {
  width: 300px;
  max-width: 300px;
  height: 40vh;
  border: 1px solid #93A1E3;
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  transition: all 0.3s ease-in-out;
}

.boards-page__board:hover {
  transform: scale(1.01, 1.01);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.board__buttons {
  display: flex;
  justify-content: flex-end;
}

.board__buttons > .icon {
  color: #8FB1E6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 25px;
  border: 1px solid #9599E2;
  border-radius: 3px;
  margin: 10px;
  transition: color 0.3s ease-in-out;
}

.board__buttons .icon:hover {
  color: #5F99E2;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media screen and (max-width: 680px) {
  .boards-page__board {
    width: 290px;
    max-width: 80vw;
    margin: 10px 0 10px 0;
  }
}


