.dialog {
  width: 30vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dialog-heading {
  width: 100%;
  height: 20%;
  background-color: #8BC6EC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-heading h4 {
  margin: 0;
}

.dialog-message {
  display: flex;
  align-items: center;
  height: 5vh;
  padding-left: 20px;
}

.dialog-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px 10px 0;
}

.dialog-buttons button {
  margin: 3px;
}
