.welcome-wrapper {
  min-height: 80%;
  min-width: 80%;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  border: 1px solid #9599E2;
  border-radius: 10px;
  padding: 20px;
}

.welcome-heading {
  display: flex;
  justify-content: center;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #FFF;
}

.welcome-features {
  display: flex;
}

.welcome-features__feature {
  width: 30%;
  border: 1px solid #9599E2;
  margin: 10px;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.welcome-developer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-developer__profile {
  display: flex;
  justify-content: space-around;
  background-color: #FFF;
  border-radius: 5px;
  border: 1px solid #9599E2;
}

.profile__description {
  color: #000;
  margin: 10px;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-style: italic;
}

.profile__image {
  margin: 10px;
}

.welcome-developer h3 {
  color: #FFF;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.profile__image img {
  width: 10vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
