<div class="welcome-wrapper">
  <div class="welcome-heading">
    <h2>Welcome to the Project Management App!</h2>
  </div>
  <div class="welcome-features">
    <div class="welcome-features__feature">
      <p>Create and edit boards in one click!</p>
    </div>
    <div class="welcome-features__feature">
      <p>Create columns and tasks in the board, and increase your efficiency!</p>
    </div>
    <div class="welcome-features__feature">
      <p>Share your boards with other users and work on the projects together!</p>
    </div>
  </div>

  <div class="welcome-developer">
    <div class="welcome-developer__heading">
      <h3>About the developer</h3>
    </div>
    <div class="welcome-developer__profile">
      <div class="profile__image">
        <img src="assets/images/Profile_pic.jpeg">
      </div>
      <div class="profile__description">
        <p>Andrey Ermolaev</p>
        <p>From Minsk, Belarus</p>
        <p>Live in Prague, Czech republic</p>
        <p>RS-School course student</p>
      </div>
    </div>

  </div>
</div>
