<div class="columns-all__column">
  <div>
    <p>Title: {{column.title}}</p>
    <p>Column order: {{column.order}}</p>
  </div>
  <div class="tasks-list" cdkDropList (cdkDropListDropped)="drop($event)">
    <div  *ngFor="let task of (allTasksInColumn$ | async) | sort:'order' " class="columns-all__column__task" cdkDrag id="{{task._id}}">
      <app-task [task] = task (deleteTaskEmitter)="onDeleteTask($event)"></app-task>
    </div>
  </div>



  <div>
    <button (click)="showConfirmationDialog()">Delete column</button>
    <button (click)="createTaskDialog()">Create task</button>
    <button (click)="showTasks()">Show task</button>
  </div>
</div>

