<!--  <div>-->
<!--    <p>Title: {{column.title}}</p>-->
<!--    <p>Column order: {{column.order}}</p>-->
<!--  </div>-->
<div class="columns-all__column">

  <div class="board-column__column">
    <ng-container *ngIf="!isEditingTitle; else titleEdit">
      <h4><a (click)="editTitle()">{{titleCopy}}</a></h4>
    </ng-container>
    <ng-template #titleEdit>
      <div class="board-column__title-edit">
        <div class="title-edit__input">
          <input [(ngModel)]="titleCopy" (keydown.enter)="saveTitle()">
        </div>
        <div class="title-edit__buttons">
          <button mat-raised-button (click)="saveTitle()">OK</button>
          <button mat-raised-button (click)="cancelEditTitle()">Cancel</button>
        </div>
      </div>
    </ng-template>

    <div class="tasks-list" cdkDropList [cdkDropListData]="allTasksInColumn" (cdkDropListDropped)="drop($event)">
      <div  *ngFor="let task of (allTasksInColumn$ | async) | sort:'order' " [cdkDragData]="task" class="columns-all__column__task" cdkDrag id="{{task._id}}">
        <app-task id="column-task"
          [task] = task
          [columnId] = column._id
          [boardId]="boardId"
          (taskEmitter)="onDeleteTask($event)">
        </app-task>
      </div>
    </div>
    <div>
      <button class="delete-column-btn" mat-raised-button (click)="createTaskDialog()">Create task <mat-icon>add</mat-icon></button>
      <button class="add-task-btn" mat-raised-button (click)="showConfirmationDialog()">Delete column <mat-icon>delete</mat-icon></button>
    </div>

  </div>

</div>

