main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  -ms-flex: 1 1 auto;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
