.form-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.signup-form {
  width: 40vw;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  background-color: #9599E2;
}

.form-field, .form-button {
  opacity: 1;
}

.ng-valid[minLength], .ng-valid.minLength  {
  border-left: 5px solid #42A948;
}

.alert-danger {
  background-color: #fed3d3;
  color: #820000;
  padding: 1rem;
  margin-bottom: 1rem;
}

