<div class="form-wrapper">
  <form class="signup-form" (ngSubmit)="signUp()" [formGroup]="newUserForm">
    <mat-form-field class="form-field">
      <mat-label>Name:</mat-label>
      <input matInput type="text" id="name" formControlName="name">
    </mat-form-field>
    <span class="alert-danger" *ngIf="(newUserForm.controls['name'].touched || submitted)
      && newUserForm.controls['name'].errors?.['required']">
        Name is required
    </span>


    <mat-form-field class="form-field">
      <mat-label>Login:</mat-label>
      <input matInput type="text" formControlName="login">
    </mat-form-field>
    <span class="alert-danger" *ngIf="(newUserForm.controls['login'].touched || submitted)
      && newUserForm.controls['login'].errors?.['required']">
        Login is required
    </span>


    <mat-form-field class="form-field">
      <mat-label>Password:</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <span class="alert-danger" *ngIf="(newUserForm.controls['password'].touched || submitted)
      && newUserForm.controls['password'].errors?.['required']">
        Password is required
    </span>



    <mat-form-field class="form-field">
      <mat-label>Confirm password:</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
    </mat-form-field>
    <span class="alert-danger" *ngIf="(newUserForm.controls['password'].touched || submitted)
    && newUserForm.errors?.['passwordMismatch'] " class="alert-danger">
        Passwords do not match
    </span>


    <button mat-raised-button class="form-button" color="primary" type="submit">Sign Up</button>
  </form>
</div>


