<div class="dialog">
  <div class="dialog-heading">
    <h3>Edit your profile</h3>
  </div>
  <div >
    <form class="dialog-form"  [formGroup]="editUserForm" (submit)="onSubmit()">
      <p>Enter new name</p>
      <mat-form-field>
        <mat-label>New name</mat-label>
        <input matInput type="text" formControlName="name" required>
      </mat-form-field>

      <p>Enter new login</p>
      <mat-form-field>
        <mat-label>New login</mat-label>
        <input matInput type="text" formControlName="login" required>
      </mat-form-field>

      <p>Enter password to confirm changes</p>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" (keydown.enter)="onSubmit()" required>
      </mat-form-field>


    </form>
  </div>
  <div class="dialog-buttons">
    <button mat-raised-button type="submit" (click)="onSubmit()">Submit</button>
  </div>

</div>


