/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-image: url("./assets/images/background-imge.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: hidden;
}


